NEXT_PUBLIC_SITE_URL=https://pipe-dream-delta.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_57pt2ah8
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xEC7568CB2e0A116142E9A22834Bc623D9F27062b
